*{
  box-sizing: border-box;
  border: 1px solid red;
}

body{
  margin: 0 auto;
  font-family:Lato, Calibri, Arial, sans-serif;
}
.sidebar{
  display:block;
  width:215px;
}


.times{
  font-family: Lato, Calibri, Arial, sans-serif;
  font-size:24px;
  width:104px;
}
.dates{

}

.content{
  width:900px;
  margin: 0 auto;
}

.icons{
  width:60px;
  display:block;
}

hr{
  width:610px;
  border:none;
  height:1px;
  background-color:white;
}

.sidebar{
  display:inline-block;
  position:relative;

}

.recipeWrapper{
  margin-left:222px;
}

.recipe1, .recipe2, .recipe3{

  border:transparent;
  border-radius:5px;
  background-color:#6cbfee;
  color: white;
  width:678px;
  height:auto;
  font-family:Lato Calibri Arial sans-serif;
}

p{
  font-family:Lato Calibri Arial sans-serif;
}
